[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"flake8" = "*"
isort = "*"
django = "*"
"psycopg2-binary" = "*"
requests = "*"
django-extensions = "*"
ipython = "*"
dj-database-url = "*"
"psycopg2" = "*"
jupyter = "*"
dj-static = "*"
"static3" = "*"
gunicorn = "*"
django-debug-toolbar = "*"
django-redis = "*"

[requires]
python_version = "3.6"
