[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"flake8" = "*"
isort = "*"
django = "*"
"psycopg2-binary" = "*"
requests = "*"
django-extensions = "*"
ipython = "*"

[requires]
python_version = "3.6"
