-i https://pypi.org/simple
appnope==0.1.0; sys_platform == 'darwin'
backcall==0.1.0
bleach==3.0.2
cached-property==1.5.1
certifi==2018.11.29
chardet==3.0.4
decorator==4.3.0
defusedxml==0.5.0
dj-database-url==0.5.0
dj-static==0.0.6
django-debug-toolbar==1.11
django-extensions==2.1.4
django==2.1.4
docker-compose==1.23.2
docker-pycreds==0.4.0
docker==3.6.0
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.2.3
flake8==3.6.0
gunicorn==19.9.0
idna==2.7
ipykernel==5.1.0
ipython-genutils==0.2.0
ipython==7.2.0
ipywidgets==7.4.2
isort==4.3.4
jedi==0.13.2
jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyter==1.0.0
markupsafe==1.1.0
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0; sys_platform != 'win32'
pickleshare==0.7.5
prometheus-client==0.5.0
prompt-toolkit==2.0.7
psycopg2-binary==2.7.6.1
psycopg2==2.7.6.1
ptyprocess==0.6.0; os_name != 'nt'
pycodestyle==2.4.0
pyflakes==2.0.0
pygments==2.3.1
python-dateutil==2.7.5
pytz==2018.7
pyyaml==3.13
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.20.1
send2trash==1.5.0
six==1.12.0
sqlparse==0.2.4
static3==0.7.0
terminado==0.8.1
testpath==0.4.2
texttable==0.9.1
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
widgetsnbextension==3.4.2
